<div id="academy-courses" class="page-layout simple">
    <!-- HEADER -->
    <div
        class="header accent p-16 p-sm-24"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1
                [@animate]="{
                    value: '*',
                    params: { delay: '100ms', y: '25px' }
                }"
            >
                NOTIFICACIONES
            </h1>
            <h3
                [@animate]="{
                    value: '*',
                    params: { delay: '100ms', y: '25px' }
                }"
            >
                Centro de notificaciones basadas en los limites de cada sensor
                existente
            </h3>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="center">
            <div
                class="filters"
                fxLayout="column"
                fxLayoutAlign="center center"
                fxLayout.gt-xs="row"
                fxLayoutAlign.gt-xs="center"
            >
                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Estado</mat-label>
                    <mat-select
                        [(ngModel)]="currentCategory"
                        (selectionChange)="filterCoursesByCategory()"
                    >
                        <mat-option [value]="'all'"> Todas </mat-option>
                        <mat-option
                            *ngFor="let category of categories"
                            [value]="category"
                        >
                            {{ category }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div
                class="courses"
                fxLayout="row wrap"
                fxLayoutAlign="center"
                [@animateStagger]="{ value: '50' }"
            >
                <div
                    class="course"
                    *ngFor="let course of filteredCourses"
                    fxFlex="100"
                    fxFlex.gt-xs="50"
                    fxFlex.gt-sm="33"
                    [ngClass]="course.type"
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                >
                    <div
                        class="course-content"
                        fxLayout="column"
                        fxFlex="1 1 auto"
                    >
                        <div
                            class="header"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                            [ngClass]="course.type + '-bg'"
                        >
                            <div class="category" fxFlex>
                                {{ course.sensorName }}
                            </div>

                            <div
                                class="length"
                                fxLayout="row"
                                fxLayoutAlign="center center"
                            >
                                <mat-icon class="length-icon s-20">
                                    access_time
                                </mat-icon>
                                <div class="min">
                                    {{ formatDateFromNow(course.dateCreation) }}
                                </div>
                            </div>
                        </div>

                        <div
                            class="content"
                            fxLayout="column"
                            fxLayoutAlign="center center"
                            fxFlex="1 1 auto"
                        >
                            <div class="h1">{{ course.title }}</div>
                            <div class="updated" *ngIf="course.dateUpgrade">
                                Actualizada {{ formatDate(course.dateUpgrade) }}
                            </div>
                            <div class="updated" *ngIf="!course.dateUpgrade">
                                Creada {{ formatDate(course.dateCreation) }}
                            </div>
                        </div>

                        <div
                            class="footer"
                            fxLayout="row"
                            fxLayoutAlign="center center"
                        >
                            <button
                                mat-button
                                color="accent"
                                [routerLink]="[
                                    '/pages/notification-details/',
                                    course.id
                                ]"
                            >
                                Detalle
                            </button>
                        </div>
                    </div>
                </div>

                <!-- <div class="no-courses" *ngIf="filteredCourses.length === 0">
                    No courses found!
                </div> -->
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
