<div
    id="order"
    class="page-layout carded fullwidth inner-scroll"
    *ngIf="notification != null && notification != null"
>
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <button
                    mat-icon-button
                    class="mr-16"
                    [routerLink]="'/pages/notifications'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    <div class="h2">{{ notification.title }}</div>
                    <!-- <div class="subtitle secondary-text">
                        <span>from</span>
                        <span
                            >{{ order.customer.firstName }}
                            {{ order.customer.lastName }}</span
                        >
                    </div> -->
                </div>
            </div>
            <!-- / APP TITLE -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <div fxLayout="column" fxFlex>
                    <div
                        class="order-details tab-content p-24"
                        fusePerfectScrollbar
                    >
                        <div class="section pb-48">
                            <mat-form-field
                                appearance="outline"
                                floatLabel="always"
                                class="w-100-p"
                            >
                                <mat-label>Detalle</mat-label>
                                <textarea
                                    matInput
                                    placeholder="Product Description"
                                    name="description"
                                    rows="3"
                                    [(ngModel)]="notification.detail"
                                    disabled
                                    style="color: black"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>

                        <div class="section pb-48">
                            <div
                                class="pb-16"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                            >
                                <mat-icon class="m-0 mr-16 secondary-text">
                                    account_circle
                                </mat-icon>
                                <div class="h2 secondary-text">Sensor</div>
                            </div>

                            <div class="customer mb-32">
                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <!-- <th>Phone</th>
                                            <th>Company</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div
                                                    fxLayout="row"
                                                    fxLayoutAlign="start center"
                                                >
                                                    <span>
                                                        {{
                                                            notification.idSensor
                                                        }}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    {{
                                                        notification.sensorName
                                                    }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="section pb-48">
                            <div
                                class="pb-16"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                            >
                                <mat-icon class="m-0 mr-16 secondary-text">
                                    access_time
                                </mat-icon>
                                <div class="h2 secondary-text">
                                    Estado Notificación
                                </div>
                            </div>

                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>Dato</th>
                                        <th>Actualizado en</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let status of notification.values
                                        "
                                    >
                                        <td>
                                            <span class="status h6 p-4">
                                                {{ status.dato }}
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                {{
                                                    formatDate(
                                                        status.fechaRecolecion
                                                    )
                                                }}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <form
                                class="update-status p-24"
                                (ngSubmit)="updateStatus()"
                                [formGroup]="form"
                                fxLayout="row"
                                fxLayoutAlign="start center"
                            >
                                <mat-form-field
                                    appearance="outline"
                                    class="mr-16"
                                    fxFlex
                                >
                                    <mat-label>Status</mat-label>
                                    <mat-select
                                        formControlName="newStatus"
                                        required
                                    >
                                        <mat-option
                                            *ngFor="let status of categories"
                                            [value]="status"
                                        >
                                            {{ status }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <button
                                    mat-raised-button
                                    class="mat-accent"
                                    [disabled]="
                                        form.invalid ||
                                        form.get('newStatus').value ==
                                            currentType
                                    "
                                >
                                    Actualizar Notificación
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
