<div class="fuse-card auto-width" style="height: 100%">
    <div
        class="position-relative p-24"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <div fxLayout="column" fxLayoutAlign="start start">
            <span class="h2">Información Recolectada por el sensor </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div
                class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                (click)="widget5SelectedDay = 'yesterday'; graphAllDataSensor()"
                [ngClass]="{ accent: widget5SelectedDay === 'yesterday' }"
            >
                Todos
            </div>
            <div
                class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                (click)="widget5SelectedDay = 'today'; ngOnInit()"
                [ngClass]="{ accent: widget5SelectedDay === 'today' }"
            >
                Hoy
            </div>
        </div>
    </div>

    <div class="position-relative pb-16" style="height: 85%">
        <canvas
            baseChart
            *ngIf="ready"
            [datasets]="dataSet"
            [colors]="colors"
            [options]="options"
            [chartType]="chartType"
            [legend]="true"
        >
        </canvas>
    </div>
</div>
