<div
    id="contacts"
    class="page-layout simple left-sidebar inner-sidebar inner-scroll"
>
    <!-- HEADER -->
    <div
        class="header accent p-16 p-sm-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center"
    >
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <button
                mat-icon-button
                class="sidebar-toggle mr-12"
                fxHide.gt-sm
                (click)="toggleSidebar('contacts-main-sidebar')"
            >
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon
                    class="logo-icon mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    account_box
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    Usuarios
                </span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div
            class="ml-sm-32"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex
        >
            <div class="search-wrapper mt-16 mt-sm-0">
                <div
                    class="search"
                    fxFlex
                    fxLayout="row"
                    fxLayoutAlign="start center"
                >
                    <mat-icon>search</mat-icon>
                    <input
                        [formControl]="searchInput"
                        placeholder="Search for a contact"
                    />
                </div>
            </div>
        </div>
        <!-- / SEARCH -->
    </div>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <!-- <selected-bar
        class="accent-600"
        *ngIf="hasSelectedContacts"
        [@slideInTop]
    ></selected-bar> -->
    <!-- / SELECTED BAR -->

    <!-- CONTENT -->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <!-- CONTENT -->
            <div class="content">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    [@animateStagger]="{ value: '50' }"
                >
                    <!-- Avatar Column -->
                    <!-- <ng-container matColumnDef="avatar">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let contact">
                            <img
                                class="avatar"
                                *ngIf="contact.avatar"
                                [alt]="contact.name"
                                [src]="contact.avatar"
                            />
                        </mat-cell>
                    </ng-container> -->

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>
                            Nombre
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact">
                            <p class="text-truncate font-weight-600">
                                {{ contact.firstname }} {{ contact.lastname }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                            Correo electrónico
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{ contact.email }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Phone Column -->
                    <ng-container matColumnDef="phoneNumber">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
                            Número de teléfono
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
                            <p class="phone text-truncate">
                                {{ contact.phoneNumber }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Role Column -->
                    <ng-container matColumnDef="role">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>
                            Rol
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
                            <p class="job-title text-truncate">
                                {{ rolesToString(contact.roles) }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>
                            Estado
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact">
                            <mat-checkbox [checked]="contact.enabled" disabled>
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- Company Column -->
                    <!-- <ng-container matColumnDef="company">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>
                            Company
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
                            <p class="company text-truncate">
                                {{ contact.company }}
                            </p>
                        </mat-cell> 
                    </ng-container> -->

                    <!-- Buttons Column -->
                    <ng-container matColumnDef="buttons">
                        <mat-header-cell *matHeaderCellDef>
                            Opciones
                        </mat-header-cell>
                        <mat-cell *matCellDef="let contact">
                            <div fxLayoutAlign="end center">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="moreMenu"
                                    aria-label="More"
                                    (click)="$event.stopPropagation()"
                                    style="
                                        border: none;
                                        background: transparent;
                                    "
                                >
                                    <mat-icon> more_vert </mat-icon>
                                </button>

                                <mat-menu #moreMenu="matMenu">
                                    <dev *ngIf="contact.enabled">
                                        <button
                                            mat-menu-item
                                            aria-label="remove"
                                            (click)="
                                                changeStatusUser(contact, false)
                                            "
                                        >
                                            <mat-icon>block</mat-icon>
                                            <span>Deshabilitar</span>
                                        </button>
                                    </dev>

                                    <dev *ngIf="!contact.enabled">
                                        <button
                                            mat-menu-item
                                            aria-label="remove"
                                            (click)="
                                                changeStatusUser(contact, true)
                                            "
                                        >
                                            <mat-icon>check</mat-icon>
                                            <span>habilitar</span>
                                        </button>
                                    </dev>

                                    <button
                                        mat-menu-item
                                        (click)="editUser(contact)"
                                    >
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar Usuario</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns">
                    </mat-header-row>

                    <mat-row
                        *matRowDef="let contact; columns: displayedColumns"
                        class="contact"
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                    >
                    </mat-row>

                    <!-- <mat-row
                        *matRowDef="let contact; columns: displayedColumns"
                        class="contact"
                        (click)="editContact(contact)"
                        [ngClass]="{ 'accent-50': checkboxes[contact.id] }"
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                    >
                    </mat-row> -->
                </mat-table>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CENTER -->
    </div>
    <!-- / CONTENT-->
</div>
