@import "src/@fuse/scss/fuse";

// app-user-list {
// display: flex;
// flex: 1 1 auto;
// width: 100%;

// }

#contacts {
    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .sidebar {
            &:not(.locked-open) {
                background: white;
            }
        }

        .mat-table {
            width: 100%;
            background: transparent;
            box-shadow: none;

            .mat-column-checkbox {
                flex: 0 1 64px;
                padding-left: 18px;
            }

            .mat-column-avatar {
                flex: 0 1 64px;
            }

            .mat-column-buttons {
                flex: 0 1 80px;
            }

            .mat-row {
                position: relative;
                cursor: pointer;
                padding: 8px;

                .mat-cell {
                    min-width: 0;

                    &.mat-column-detail-button {
                        flex: 0 1 auto;
                        padding: 0 24px 0 0;

                        @include media-breakpoint("gt-md") {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
