<div id="register" fxLayout="column">
    <div
        id="register-form-wrapper"
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <div
            id="register-form"
            [@animate]="{
                value: '*',
                params: { duration: '300ms', y: '100px' }
            }"
        >
            <div class="logo">
                <img src="assets/images/logos/fuse.svg" />
            </div>

            <div class="title">CREAR UNA CUENTA</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" />
                    <mat-icon matSuffix class="secondary-text">
                        account_circle
                    </mat-icon>
                    <mat-error> Nombre es requerido! </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="lastName" />
                    <mat-icon matSuffix class="secondary-text">
                        account_circle
                    </mat-icon>
                    <mat-error
                        *ngIf="registerForm.get('lastName').hasError('required')"
                    >
                        Apellidos son requeridos!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Número celular</mat-label>
                    <input matInput formControlName="phoneNumber" />
                    <mat-icon matSuffix class="secondary-text">
                        account_circle
                    </mat-icon>
                    <mat-error
                        *ngIf="registerForm.get('phoneNumber').hasError('required')"
                    >
                        Número celular es requerido!
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" />
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error
                        *ngIf="registerForm.get('email').hasError('required')"
                    >
                        Correo electrónico es requerido!
                    </mat-error>
                    <mat-error
                        *ngIf="registerForm.get('email').hasError('email')"
                    >
                        Por favor, introduce una dirección de correo electrónico
                        válida
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input
                        matInput
                        type="password"
                        formControlName="password"
                    />
                    <mat-icon matSuffix class="secondary-text">
                        vpn_key
                    </mat-icon>
                    <mat-error> Contraseña es requerida! </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña (Confirmación)</mat-label>
                    <input
                        matInput
                        type="password"
                        formControlName="passwordConfirm"
                    />
                    <mat-icon matSuffix class="secondary-text">
                        vpn_key
                    </mat-icon>
                    <mat-error
                        *ngIf="
                            registerForm
                                .get('passwordConfirm')
                                .hasError('required')
                        "
                    >
                        Se requiere confirmación de contraseña
                    </mat-error>
                    <mat-error
                        *ngIf="
                            !registerForm
                                .get('passwordConfirm')
                                .hasError('required') &&
                            registerForm
                                .get('passwordConfirm')
                                .hasError('passwordsNotMatching')
                        "
                    >
                        Las contraseñas deben coincidir
                    </mat-error>
                </mat-form-field>
                <!-- 
                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox
                        name="terms"
                        aria-label="I read and accept"
                        required
                    >
                        <span>I read and accept</span>
                    </mat-checkbox>
                    <a href="#">terms and conditions</a>
                </div> -->

                <button
                    mat-raised-button
                    color="accent"
                    class="submit-button"
                    aria-label="CREATE AN ACCOUNT"
                    [disabled]="registerForm.invalid"
                >
                    CREA UNA CUENTA
                </button>
            </form>

            <div
                class="register"
                fxLayout="column"
                fxLayoutAlign="center center"
            >
                <span class="text">¿Ya tienes una cuenta?</span>
                <a class="link" [routerLink]="'/pages/auth/login'">
                    Iniciar sesión
                </a>
            </div>
        </div>
    </div>
</div>
