<div
    id="dashboard-project"
    class="page-layout simple right-sidebar"
    fxLayout="row"
>
    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div
            class="header accent p-24 pb-0"
            fxLayout="column"
            fxLayoutAlign="space-between"
        >
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <span
                    class="mat-display-1 my-0 my-sm-24 welcome-message"
                    [@animate]="{ value: '*', params: { x: '50px' } }"
                >
                    ¡Bienvenido de nuevo, {{ nameUser() }}!
                </span>

                <button
                    mat-icon-button
                    class="sidebar-toggle mr-8"
                    fxHide.gt-md
                    (click)="toggleSidebar('project-dashboard-right-sidebar-1')"
                >
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div fxLayout="row" *ngIf="selectedProject != null">
                <div class="selected-project">{{ selectedProject.name }}</div>

                <button
                    mat-icon-button
                    class="project-selector"
                    [matMenuTriggerFor]="projectsMenu"
                    aria-label="Select project"
                >
                    <mat-icon>more_horiz</mat-icon>
                </button>

                <mat-menu #projectsMenu="matMenu">
                    <button
                        mat-menu-item
                        *ngFor="let project of projects"
                        (click)="
                            selectedProject = project; changeDashboard(project)
                        "
                    >
                        <span>{{ project.name }}</span>
                    </button>
                </mat-menu>
            </div>
        </div>

        <div class="content">
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="100" fxFlex.gt-md="88">
                    <fuse-widget
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                        class="widget"
                        fxLayout="column"
                        fxFlex="100"
                        fxFlex.gt-sm="100"
                    >
                        <div class="fuse-card auto-width mat-elevation-z2">
                            <div
                                class="position-relative p-24"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <div
                                    fxLayout="column"
                                    fxLayoutAlign="start start"
                                >
                                    <span class="h2">
                                        Información Recolectada
                                    </span>
                                </div>
                                <div
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >
                                    <div
                                        class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                        (click)="
                                            widget5SelectedDay = 'ALL';
                                            getDataSensorsToGraphic(
                                                selectedProject.id
                                            )
                                        "
                                        [ngClass]="{
                                            accent: widget5SelectedDay === 'ALL'
                                        }"
                                    >
                                        Toda
                                    </div>
                                    <div
                                        class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                                        (click)="
                                            widget5SelectedDay = 'TODAY';
                                            getDataSensorsToGraphic(
                                                selectedProject.id
                                            )
                                        "
                                        [ngClass]="{
                                            accent:
                                                widget5SelectedDay === 'TODAY'
                                        }"
                                    >
                                        Hoy
                                    </div>
                                </div>
                            </div>

                            <div class="position-relative h-532 pb-16">
                                <canvas
                                    baseChart
                                    *ngIf="ready"
                                    [datasets]="dataSet"
                                    [options]="options"
                                    [chartType]="chartType"
                                    [legend]="true"
                                >
                                </canvas>
                            </div>
                        </div>
                    </fuse-widget>
                </div>

                <div fxLayout="column" fxFlex="100" fxFlex.gt-md="12">
                    <fuse-widget
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                        class="widget"
                        fxFlex="100"
                        fxFlex.gt-xs="100"
                        fxFlex.gt-md="100"
                    >
                        <!-- Front -->
                        <div class="fuse-widget-front">
                            <div
                                class="pl-16 pr-8 py-16 h-52"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <span class="mat-caption">
                                    Sensores Conectados
                                </span>
                            </div>

                            <div
                                class="pt-8 pb-32"
                                fxLayout="column"
                                fxLayoutAlign="center center"
                            >
                                <div
                                    class="light-green-fg font-size-72 line-height-72"
                                >
                                    {{ numberSensorsStateConnected }}
                                </div>
                                <div class="h3 -text font-weight-500">
                                    Creados
                                </div>
                            </div>
                        </div>
                        <!-- / Front -->
                    </fuse-widget>

                    <fuse-widget
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                        class="widget"
                        fxFlex="100"
                        fxFlex.gt-xs="100"
                        fxFlex.gt-md="100"
                    >
                        <!-- Front -->
                        <div class="fuse-widget-front">
                            <div
                                class="pl-16 pr-8 py-16 h-52"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <span class="mat-caption">
                                    Sensores Desconectados
                                </span>
                            </div>

                            <div
                                class="pt-8 pb-32"
                                fxLayout="column"
                                fxLayoutAlign="center center"
                            >
                                <div
                                    class="blue-grey-fg font-size-72 line-height-72"
                                >
                                    {{ numberSensorsStateDisconnected }}
                                </div>
                                <div class="h3 secondary-text font-weight-500">
                                    Desconectados
                                </div>
                            </div>
                        </div>
                        <!-- / Front -->
                    </fuse-widget>

                    <fuse-widget
                        [@animate]="{ value: '*', params: { y: '100%' } }"
                        class="widget"
                        fxFlex="100"
                        fxFlex.gt-xs="100"
                        fxFlex.gt-md="100"
                    >
                        <!-- Front -->
                        <div class="fuse-widget-front">
                            <div
                                class="pl-16 pr-8 py-16 h-52"
                                fxLayout="row"
                                fxLayoutAlign="space-between center"
                            >
                                <span class="mat-caption">
                                    Sensores Creados
                                </span>
                            </div>

                            <div
                                class="pt-8 pb-32"
                                fxLayout="column"
                                fxLayoutAlign="center center"
                            >
                                <div
                                    class="light-blue-fg font-size-72 line-height-72"
                                >
                                    {{ numberSensorsStateCreated }}
                                </div>
                                <div class="h3 secondary-text font-weight-500">
                                    Creados
                                </div>
                            </div>
                        </div>
                        <!-- / Front -->
                    </fuse-widget>
                </div>
            </div>

            <div fxLayout="row" *ngIf="ready">
                <fuse-widget
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                    class="widget"
                    fxFlex="100"
                    fxFlex.gt-sm="100"
                >
                    <div class="fuse-card auto-width mat-elevation-z2">
                        <div #view style="height: 100%; width: 100%">
                            <div
                                #map
                                style="height: 636px; width: 100%"
                                leaflet
                                [leafletOptions]="optionsMap"
                                (leafletMapReady)="onMapReady($event)"
                            ></div>
                        </div>
                    </div>
                </fuse-widget>
            </div>
        </div>
    </div>
</div>
