<div class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Tablero</h2>
    </div>

    <div class="content p-24">
        <!-- <div
            class="mb-24"
            fxLayout="column"
            fxLayoutAlign="start"
            fxLayout.gt-md="row"
        > -->
        <!-- REACTIVE FORM EXAMPLE -->

        <!-- <form
                class="mat-card mat-elevation-z4 p-24 mr-24"
                fxLayout="column"
                fxLayoutAlign="start"
                fxFlex="1 0 auto"
                name="form"
            > -->
        <div class="h2 mb-24">Crear tablero</div>

        <p class="pb-32">
            Un tablero es una agrupación de sensores existentes lo cual mejorara
            su forma de visualización.
        </p>

        <div class="vertical-stepper-wrapper">
            <!-- VERTICAL STEPPER EXAMPLE -->
            <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">
                <mat-step [stepControl]="formStep1">
                    <form fxLayout="column" [formGroup]="formStep1">
                        <ng-template matStepLabel>
                            Ingrese el nombre del tablero
                        </ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Nombre</mat-label>
                                <input
                                    matInput
                                    formControlName="name"
                                    required
                                />
                                <mat-error>Nombre es requerido!</mat-error>
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="lastName" required>
                                    <mat-error>Last Name is required!</mat-error>
                                </mat-form-field> -->
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button
                                mat-raised-button
                                matStepperNext
                                type="button"
                                color="accent"
                            >
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step [stepControl]="formStep2">
                    <form fxLayout="column" [formGroup]="formStep2">
                        <ng-template matStepLabel>
                            Selecciona los sensores
                        </ng-template>

                        <div>
                            <mat-table
                                class="products-table"
                                #table
                                [dataSource]="dataSource"
                                matSort
                                fusePerfectScrollbar
                                style="
                                    margin-bottom: 4px;
                                    padding-bottom: 21.5px;
                                "
                            >
                                <ng-container matColumnDef="select">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Seleccionar
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <mat-checkbox
                                            (change)="
                                                changeCheckBox($event, product)
                                            "
                                        ></mat-checkbox>
                                    </mat-cell>
                                </ng-container>

                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        ID
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{ product.id }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Nombre
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{ product.name }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="protocol">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Protocolo
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{ product.protocol }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="magnitude">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Magnitud
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{ product.magnitude }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="unitMeasure">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Unidad de medida
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{ product.unitMeasure }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Estado
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{ product.status }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="dateLastData">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Ult. Fecha Recolección
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{
                                                formatDateFromNow(
                                                    product.dateLastData
                                                )
                                            }}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="options">
                                    <mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header
                                    >
                                        Opciones
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let product">
                                        <div
                                            fxFlex="row"
                                            fxLayoutAlign="center center"
                                        >
                                            <button
                                                mat-icon-button
                                                (click)="showModalMap(product)"
                                                aria-label="Toggle star"
                                            >
                                                <mat-icon>map</mat-icon>
                                            </button>
                                            <button
                                                mat-icon-button
                                                (click)="
                                                    showModalGraphData(product)
                                                "
                                                aria-label="Toggle star"
                                            >
                                                <mat-icon>assessment</mat-icon>
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row
                                    *matHeaderRowDef="
                                        displayedColumns;
                                        sticky: true
                                    "
                                ></mat-header-row>

                                <mat-row
                                    *matRowDef="
                                        let product;
                                        columns: displayedColumns
                                    "
                                    class="product"
                                    matRipple
                                >
                                </mat-row>
                            </mat-table>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button
                                class="mr-8"
                                mat-raised-button
                                matStepperPrevious
                                type="button"
                                color="accent"
                            >
                                Previo
                            </button>
                            <button
                                mat-raised-button
                                matStepperNext
                                type="button"
                                color="accent"
                                [disabled]="selectSensors.length == 0"
                            >
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Finalización</ng-template>

                    <div
                        class="h2 m-16"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                    >
                        Usted ha finalizado, en su próximo inicio de sesión
                        podrá visualizar su tablero aquí creado
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center">
                        <button
                            class="mr-8"
                            mat-raised-button
                            matStepperPrevious
                            type="button"
                            color="accent"
                        >
                            Previo
                        </button>
                        <button
                            mat-raised-button
                            type="button"
                            color="accent"
                            (click)="finishVerticalStepper()"
                        >
                            Finalizar
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
        <!-- </form> -->
    </div>
    <!-- </div> -->
</div>
