<div id="profile" class="page-layout simple tabbed">
    <!-- HEADER -->
    <div
        class="header p-24"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between end"
    >
        <div
            class="user-info"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start center"
        >
            <!-- <img
                class="profile-image avatar huge"
                src="assets/images/avatars/Velazquez.jpg"
                [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }"
            /> -->
            <ngx-avatar
                class="profile-image avatar huge"
                [name]="infoUser().given_name"
                size="96"
                [@animate]="{
                    value: '*',
                    params: { delay: '50ms', scale: '0.2' }
                }"
            ></ngx-avatar>
            <div
                class="name"
                [@animate]="{
                    value: '*',
                    params: { delay: '100ms', x: '-25px' }
                }"
            >
                {{ infoUser().name }}
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24" fxLayout="row wrap">
        <div
            class="about-content"
            fxLayout="column"
            fxFlex="100"
            fxFlex.gt-sm="50"
            fxFlex.gt-md="100"
        >
            <div class="profile-box info-box general" fxLayout="column">
                <header class="accent">
                    <div class="title">Información General</div>
                </header>

                <div class="content">
                    <div class="info-line">
                        <div class="title">Correo Electrónico</div>
                        <div class="info">{{ infoUser().email }}</div>
                    </div>

                    <div class="info-line">
                        <div class="title">Número de Teléfono</div>
                        <div class="info">{{ infoUser().phone_number }}</div>
                    </div>

                    <!-- <div class="info-line">
                    <div class="title">Locations</div>
                    <div
                        class="info location"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        *ngFor="let location of about.general.locations"
                    >
                        <span>{{ location }}</span>
                        <mat-icon class="s-16 ml-4">location_on</mat-icon>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>
